{% extends 'base.html.twig' %}

{% block title %}My quizz{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>My Quizz {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/home/MVC_My_Quiz/my_quiz/src/Controller/HomePageController.php'|file_link(0) }}">src/Controller/HomePageController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/home/MVC_My_Quiz/my_quiz/templates/home_page/index.html.twig'|file_link(0) }}">templates/home_page/index.html.twig</a></code></li>
    </ul>
    <button>Jouer</button>
</div>

<div class="exemple-wrapper">
    <h2>Catégories</h2>
</div>


{% endblock %}
